.App {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
/* .FileGetter__input{
  display: none;
} */
.Leaderboard {
  padding: 10px;
  text-align: center;
}
.Leaderboard__table {
  width: 300px;
  border: 1px solid;
  padding: 10px;
  
  td {
    padding: 5px;
    width: 100px;
  }
}
.Games__zeroState {
  padding: 10px;
}
.Game {
  margin: 30px 10px;
  text-align: center;
}
.Game__table {
    width: 300px;
    border: 1px solid;
    padding: 10px;
    text-align: center;
  
  td {
    padding: 5px;
    width: 100px;
  }
}
.Game__win {
  background-color: green;
}
.Game__lose{
  background-color: red;
}
